# Financial Fraud Dataset: 
# *Data Cleaning and Data Wrangling* 
___

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.graphics.api import abline_plot
from random import sample

In [4]:
#Load raw dataset for processing
raw_df = pd.read_csv("/Users/sa14/Desktop/fin eda final/data/BankFraud_Data.csv")

___
##### **The step, nameOrig, IsFlaggedFraud, and nameDest columns will be dropped in the processed dataset. These features were not determined to be useful in the pursuit of accurately detecting and classifying fraudulent activity.**
___

In [5]:
#Drop unneeded columns to create the Numeric_BankData.csv file and a processed dataframe
cleaned_df = raw_df.drop(["step", "nameOrig", "isFlaggedFraud", "nameDest"], axis=1)
#cleaned_df.to_csv("Numeric_BankData.csv")

In [7]:

#Create one-hot encoding utilizing get_dummies
encoded_set = pd.get_dummies(cleaned_df, columns=['type'], dtype= int, drop_first= True)

#Save encoded_set as csv
encoded_set.to_csv("/Users/sa14/Desktop/fin eda final/data/Encoded_Set.csv")

In [8]:
#Get the first 10 rows of the encoded_set dataframe
encoded_set.head()

,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,9839.64,170136.0,160296.36,0.0,0.0,0,0,0,1,0
1,1864.28,21249.0,19384.72,0.0,0.0,0,0,0,1,0
2,181.00,181.0,0.00,0.0,0.0,1,0,0,0,1
3,181.00,181.0,0.00,21182.0,0.0,1,1,0,0,0
4,11668.14,41554.0,29885.86,0.0,0.0,0,0,0,1,0

In [9]:
#Verify that there are still no null values present in the dataset
encoded_set.isnull().sum()

amount            0
oldbalanceOrg     0
newbalanceOrig    0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
type_CASH_OUT     0
type_DEBIT        0
type_PAYMENT      0
type_TRANSFER     0
dtype: int64